
@import './color.css'; 

body{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}
.resource-link{
    

    text-decoration: none;
    border-radius: 20px;
    padding: 1rem;  
    color: var(--primary);
    animation: 1s shadow-animation infinite;

}
.resource-link:hover{
    animation: none;
    background: var(--primary);
    color: #fff;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    @media (min-width:768px) {
                height: 95vh;
        
    }
    h1{
        text-align: center;
        color: #000;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-bottom: 5px solid var(--border);
        line-height: 2.1;
    }   
    animation: ease 1s init-mode  ;
    
}

.main-container{
    
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    justify-content: center;
    @media (max-width:768px) {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
    }
    gap: 1rem;
    padding: 1rem;

}

.sub-container{
background: #fff;
padding: 1rem;
border: 1px solid var(--border);
border-radius: 20px;
text-align: center;

span{
    font-weight: bold;
}

}
 .sub-container:has(a){
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
 }


    .form{
        display: flex;
        flex-direction: column;
        width: 80%;
        @media (max-width:768px) {
            width: 90%;    
        }
        padding: 1rem;
        #form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            border: 1px solid var(--border);
            border-radius: 20px;       
    
    
        }
    }
    .form-result{
        display: flex;
        background: #fbfbfb;
        background: #fff;
        color: #000;
        padding: 1rem;
        border: 1px solid #ebebeb;
        border-radius: 20px;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .btn-container{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        @media (max-width:768px) {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            
        }

    }

    input{
        all: unset;
        display: flex;        
        border: 1px solid var(--border);
        border-radius: 10px ;
        min-height: 50px;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }
    input:active{
        border: 1px solid var(--border);
        border-radius: 10px ;
        
    }
    input:disabled{
        border: 1px solid var(--border);
        border-radius: 10px ;
        height: 50px;
      
    }


    button{
        all: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--primary);
        color: var(--light);
        border: 1px inherit solid;
        border-radius: 8px;
        min-width: 100px;
        min-height: 30px;
      
    }

    button:hover{
     background: var(--primary-light);
    }

    footer{
        border-top: 1px solid var(--border);
        display: flex;
        padding: 1rem;
        position: relative;
        bottom: 0;
        justify-content: center;
        align-items: center;
        font-family: monospace;
        font-weight: 900;
    }
    
    @keyframes shadow-animation{
        0% {
          box-shadow:   0 0  0 var(--primary-light);  
        }
        100%{
          box-shadow: 0 0 0 10px transparent;  

        }
    }
    @keyframes init-mode{
        0%{
            opacity: 0;
         transform: translateY(-100px);   
        }
        /* 50%{
            opacity: 0.5;
         transform: translateY(-50px);   


        } */
        100%{
            opacity: 1;
         transform: translateY(0);   

        }
    }